@importurl("https://fonts.googleapsis.com/css?family-Kaushan+Script");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kaushan Script','Sail','cursive';
    
}


html, body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(happy-birthday-g7b6c33408_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.text{ 
  
    min-height: 50vh;
    width: 50ch;
    overflow: hidden; 
    white-space: nowrap; 
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    animation:typing 8s steps(50) infinite, blinking
    infinite;   
}



@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 50ch;
    }
}

@keyframes blinking { 

    0%{ 
    
    border-color: black;  
    
    } 
    
    50% {  
    
    border-color: transparent;  
    
    }  
    
    100% {  
    
    border-color: black;  
    
    }  
}




.paragraph{
 margin-left: auto;
 margin-right: auto;  
 width: 100%;
 text-align: center;
 font-weight: bolder;     
}


  
  @media only screen and (max-width: 700px) {
   
      .text{
        min-height: 33%;
        width: 50ch;
       
      }

      @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 50ch;
        }
    }
    
    @keyframes blinking { 
    
        0%{ 
        
        border-color: black;  
        
        } 
        
        50% {  
        
        border-color: transparent;  
        
        }  
        
        100% {  
        
        border-color: black;  
        
        }  
    }

    body{
        background-image: url(happy-birthday-g7b6c33408_1280.jpg);
        background-size: cover;
        background-repeat: no repeat;
    }
    
    }